<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Twitter Sentiment</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Simple Twitter Sentiment Analysis</h1>

<ul>
<li><a href="/w/Hillary%20Clinton">Hillary Clinton</a></li>
<li><a href="/w/Bernie%20Sanders">Bernie Sanders</a></li>
</ul>

</body>
</html>