<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Twitter Sentiment for <%= query %></title>
    <script type="text/javascript" src="/d/<%= query %>"></script>
    <script type="text/javascript" src="/js/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<h1><%= query %></h1>

<script type="text/javascript" src="/js/w.js"></script>
</body>
</html>